* {
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  width: 9px;
  height: 9px; }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px; }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #aaa; }

.survey-viewer-viewer > .wrapper {
  padding-bottom: 55px; }

.survey-viewer-viewer h2 {
  margin: 0;
  padding: 20px 30px 0; }

#survey-viewer-form, .survey-viewer-onepage-form {
  overflow: auto;
  overflow-x: hidden; }

.survey-viewer-title {
  text-align: left;
  margin-left: 0 !important; }

.survey-viewer-pages {
  position: relative;
  left: 0;
  display: block;
  padding-top: 8px; }

.survey-viewer-author {
  font-size: 1.0em;
  text-align: right;
  margin-top: 0; }

.survey-viewer-question-bar span {
  word-wrap: break-word;
  text-align: left;
  white-space: normal !important; }

.survey-viewer-date-range {
  float: left; }

.survey-viewer-pages-font {
  font-size: 16px; }

input:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none; }

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease;
          transition: opacity 0.3s 0.3s ease;
  opacity: 0; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

.survey-viewer-caret {
  float: right;
  margin-top: 8px; }

.survey-viewer-container {
  width: 100%;
  margin-top: 15px; }

.btn:focus {
  outline: none;
  outline-offset: 0; }

.btn:active {
  outline: 0;
  background-image: inherit;
  box-shadow: none; }
  .btn:active:focus {
    outline: none;
    outline-offset: 0; }

button .btn .btn-default .dropdown-toggle .btn-caret {
  height: 33px; }

.survey-viewer-title-wrap {
  padding: 20px 30px;
  border-bottom: 1px solid #efefef; }

.survey-viewer-question-bar {
  padding: 20px 30px;
  background: white;
  border-bottom: 1px solid #efefef; }
  .survey-viewer-question-bar .survey-viewer-question-bar span {
    word-wrap: break-word; }

.pad-2 {
  padding-top: 2px; }

.survey-viewer-answer.inline {
  margin-left: 10px;
  margin-top: 0; }

.other.inline {
  margin-top: 0; }

.survey-viewer-answer input {
  height: 30px;
  border-radius: 2px;
  display: inline-block; }

.survey-viewer-answer-option {
  margin: 7px 0; }

.survey-viewer-form-control-border {
  border: 1.3px solid #ccc; }

.survey-viewer-question-title {
  margin: 2px 0;
  padding: 0;
  text-align: left; }
  .survey-viewer-question-title h4 {
    width: 50%;
    word-break: break-all;
    display: inline-block; }
    .survey-viewer-question-title h4 .ng-binding {
      width: 10%; }
  .survey-viewer-question-title.inline ng-include > div,
  .survey-viewer-question-title.inline ng-include > p {
    display: inline-block; }

.form-container {
  min-height: 70vh;
  margin-bottom: 30px; }

.block {
  display: block;
  width: 90%;
  position: relative;
  float: left; }

.inline {
  display: inline;
  position: relative;
  float: left; }
  .inline.survey-viewer-answer {
    padding-top: 8px; }

.survey-viewer-answer .input-group {
  width: 185px; }
  .survey-viewer-answer .input-group input {
    height: 33px; }

.input-date {
  height: 33px;
  border-radius: 2px; }

.survey-viewer-footer {
  min-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 50; }

.modal-body {
  color: black; }

.asterisk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.8);
  position: absolute;
  margin-left: 5px;
  margin-top: -7px; }

.survey-viewer-label-default {
  margin-left: 3px;
  background-color: lightgrey;
  position: relative;
  padding: 3px 10px 3px 10px;
  border-radius: 3px; }

.top {
  top: -1px; }

.bottom {
  bottom: -1px; }

.survey-viewer-dateInput {
  width: 50%;
  height: 40px;
  display: inline-block; }

.survey-viewer-datePickerBtn {
  width: 20%;
  display: inline-block; }

.datePickerBtn button {
  margin-left: -2px;
  height: 30px; }

.required {
  margin-top: -4px;
  display: inline-block; }
  .required:after {
    content: '*';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.8); }

.survey-viewer-question-viewer-title {
  margin: 10px 12px 0 0;
  color: black;
  font-weight: 500;
  font-size: 18px;
  word-wrap: break-word;
  position: relative; }
  .survey-viewer-question-viewer-title.inline ng-include > div,
  .survey-viewer-question-viewer-title.inline ng-include > p {
    display: inline-block; }

.survey-viewer-question-counter {
  display: inline-block;
  vertical-align: top; }

.survey-viewer-table .survey-viewer-question-bar {
  margin: 0; }

#loading-bar-spinner {
  top: 50%;
  left: 45%; }
  #loading-bar-spinner .spinner-icon {
    width: 25px;
    height: 25px;
    border: solid 4px transparent;
    border-top-color: #43bcb0;
    border-left-color: #43bcb0;
    border-radius: 15px; }

.question:last-child {
  padding-bottom: 6px;
  margin-bottom: 25px; }

.multiple {
  margin-right: 6px; }
  .multiple input {
    float: left;
    margin-top: 6px; }

.pad-top-10 {
  padding-top: 10px; }

.mrg-o {
  margin: 0; }

.pad-0 {
  padding: 0; }

/* iPhone 4  (portrait)----------- */
@media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    margin-top: 10px !important;
    font-size: 18px !important; } }

/* iPhone 5  (portrait)----------- */
@media only screen and (min-device-width: 240px) and (min-device-height: 481px) and (max-device-width: 320px) and (max-device-height: 570px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    font-size: 1.4em !important;
    margin-top: 10px !important; } }

/* iPhone  6 (portrait) ----------- */
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; } }

/*  iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 376px) and (max-device-width: 414px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #survey-viewer-form, .survey-viewer-onepage-form {
    padding-bottom: 5px; }
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; } }

/* iPhone 5  (landscape)----------- */
@media only screen and (max-device-height: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; }
  .btn-next,
  .btn-previous,
  .btn-submit {
    width: 30%; }
  .survey-viewer-pages {
    position: absolute;
    padding: 7px 4% 0 0; } }

/* iPhone  6 (landscape) ----------- */
@media only screen and (device-height: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #survey-viewer-form, .survey-viewer-onepage-form {
    padding-bottom: 5px; }
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; }
  .btn-next,
  .btn-previous,
  .btn-submit {
    width: 30%; }
  .survey-viewer-pages {
    position: absolute;
    padding: 7px  4% 0 0;
    text-align: center; } }

/*  iPhone 6+ (landscape) ----------- */
@media only screen and (device-height: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; }
  .survey-viewer-pages {
    position: absolute;
    padding: 7px  4% 0 0; } }

@media only screen and (min-device-height: 360px) and (max-device-height: 390px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .survey-viewer-title {
    font-size: 18px !important;
    margin-top: 10px !important; }
  .survey-viewer-pages {
    position: absolute;
    padding: 7px  4% 0 0; } }

@media only screen and (device-height: 360px) and (device-width: 640px) and (orientation: portrait) {
  .survey-viewer-title {
    font-size: 22px !important;
    margin-top: 10px !important; }
  .survey-viewer-author {
    margin-left: 5.5px; } }

/* iPad [portrait] */
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  .survey-viewer-title {
    font-size: 22px !important;
    margin-top: 10px !important; }
  .survey-viewer-author {
    margin-left: 5.5px; }
  .question:last-child {
    padding-bottom: 50px !important; } }

/* iPad [landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .survey-viewer-title {
    text-align: left;
    font-size: 22px !important;
    margin-top: 10px !important; }
  .survey-viewer-author-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto; }
  .survey-viewer-author {
    margin: 0 !important; } }

/* netbook 1280 * 800 */
/* small desktop 1280 * 1024 */
/* ultrabook 1368 * 768 */
@media (min-width: 1281px) and (max-width: 1399px) and (min-height: 600px) {
  #survey-viewer-form, .survey-viewer-onepage-form {
    overflow: auto;
    overflow-x: hidden; } }

@media only screen and (min-width: 1200px) {
  .survey-viewer-author-wrapper {
    right: 0;
    position: absolute;
    top: 10px; } }

.validation-error-required {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: red;
  margin-left: 10px;
  font-weight: bolder; }

.validation-error-length, .validation-error-phone,
.validation-error-number, .validation-error-email,
.validation-error-date, .validation-error-time {
  display: none;
  margin-left: 10px; }

.validation-error-required-box, button.validation-error-required-box,
input.ng-invalid-min, input.ng-invalid-pattern,
input.ng-invalid-email, input.ng-invalid-pattern,
input.ng-invalid-date {
  border: 2px solid red !important; }

.validation-error-required, .validation-error-range,
.ng-invalid-pattern ~ .validation-error-number,
.ng-invalid-email ~ .validation-error-email,
.ng-invalid-pattern ~ .validation-error-phone,
.ng-invalid-date ~ .validation-error-date,
.ng-invalid-maxlength ~ .validation-error-length,
.validation-error-required-box + .validation-error-time {
  margin-left: 10px;
  display: block;
  clear: both;
  color: red;
  font-weight: bolder; }

body .ng-invalid-date ~ .validation-error-date {
  display: table-row; }

input.ng-invalid-maxlength {
  border: 2px solid orange; }

input.ng-invalid-maxlength ~ .validation-error-length, .validation-length-error {
  color: orange; }

.dropdown.inline {
  padding-top: 8px; }

.dropdown-default {
  padding: 10px 17px 20px 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dashed rgba(139, 145, 153, 0.6);
  margin: 30px; }

div .dropdown {
  display: block; }

.btn-dropdown {
  background-color: white;
  width: 188px;
  height: 32px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding: 5px 5px 5px 10px;
  text-align: left;
  font: 10px;
  color: #d5d5d5; }

.survey-viewer-answer {
  margin-left: 0;
  padding: 0; }

.survey-viewer-answer input {
  height: 30px;
  border-radius: 2px; }

.survey-viewer-answer-option {
  padding: 0; }

.multiplechoice.survey-viewer-answer-option {
  margin: 0 0 0 12px; }
  .multiplechoice.survey-viewer-answer-option .radio, .multiplechoice.survey-viewer-answer-option .checkbox {
    margin-top: 0;
    margin-bottom: 0; }

.multiplechoice label {
  margin-top: 10px !important;
  margin-left: 3px !important;
  margin-bottom: 5px;
  font-weight: bold; }
  .multiplechoice label span {
    display: inline-block;
    width: 100%; }

.other.survey-viewer-answer-option {
  margin-left: 12px; }

.other.survey-viewer-answer-option .form-control {
  margin-top: 8px; }

.survey-viewer-answers-bar input[type=checkbox] {
  outline: none; }

.survey-viewer-answers-bar input[type=checkbox]:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  float: left;
  background: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: #555555;
  border: 1.3px solid #ccc; }

.survey-viewer-answers-bar input[type=checkbox]:checked:before {
  background-image: url(../../../images/questions/check_mark_dark.png);
  background-repeat: no-repeat;
  background-position: center; }

.survey-viewer-answers-bar .wrapper {
  overflow-x: auto;
  margin-top: 10px;
  margin-left: 12px; }

.survey-viewer-answers-bar .wrapper table tr {
  vertical-align: top; }

.survey-viewer-answers-bar .wrapper table tr td {
  padding: 0 7px 0 0; }

.survey-viewer-answers-bar .wrapper table tr td label {
  max-width: 220px; }

.survey-viewer-answers-bar .wrapper table tr td label input {
  float: left; }

.survey-viewer-answers-bar .wrapper table tr td label div {
  display: inline-block;
  min-width: 30px;
  max-width: 200px;
  word-wrap: break-word;
  padding-left: 7px;
  padding-top: 4px; }

.multi-textbox-default {
  padding: 0 17px 20px 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dashed rgba(139, 145, 153, 0.6);
  margin: 30px; }

label.multitextboxes span {
  display: inline-block;
  width: 100%; }

label.multitextboxes.inline {
  padding-top: 0px !important;
  margin: 6px 12px 0 0; }

.row .survey-viewer-textbox-input {
  margin-top: 5px; }

.multitextbox.survey-viewer-answers-bar {
  clear: left;
  padding-left: 15px; }

.subquestion-default {
  margin-top: 10px;
  margin-right: 10px;
  overflow: hidden;
  max-width: 1240px; }

.multi-textbox-default p.question-default {
  margin-bottom: 0 !important; }

.survey-viewer-left .multitextbox .survey-viewer-answer.inline {
  min-width: 40%;
  position: relative; }

.survey-viewer-left .survey-viewer-answer.inline input[pu-elastic-input-minwidth] {
  min-width: 80% !important;
  max-width: 100%; }

.multitextbox .survey-viewer-answer.inline {
  min-width: 30%;
  max-width: 50%;
  padding-top: 0 !important; }

.question-default-box {
  margin-bottom: 0; }

.multitextbox .survey-viewer-answer .fixed {
  width: 300px; }

.multitextbox .survey-viewer-answer .fixed .survey-viewer-answer-input-date {
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 0;
  height: 30px; }

.multitextbox .survey-viewer-answer .fixed .input-group-btn {
  width: 20.5%;
  margin-left: -2px; }

.multitextbox .survey-viewer-answer .fixed .btn-default {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  text-align: center;
  height: 30px; }

.survey-viewer-range {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin-left: 7px !important; }

.survey-viewer-range .survey-viewer-answer {
  clear: both;
  padding-top: 10px; }

.survey-viewer-range .survey-viewer-answer.inline {
  clear: none;
  padding-top: 8px; }

.survey-viewer-range .survey-viewer-textbox-input, .survey-viewer-range .survey-viewer-dash {
  display: inline-block;
  margin-right: 8px; }

.survey-viewer-range .survey-viewer-from, .survey-viewer-range .survey-viewer-to {
  display: block;
  margin-right: 5px; }

.survey-viewer-range .survey-viewer-textbox-input {
  width: 70px;
  height: 28px;
  border: 1px solid #d5d5d5;
  margin: 10px 7px 5px 0;
  padding-left: 0; }

.survey-viewer-range .survey-viewer-range-textbox-default .survey-viewer-textbox-input {
  background-color: white;
  padding: 0 5px; }

.survey-viewer-range .survey-viewer-range-textbox-active .survey-viewer-textbox-input {
  background-color: rgba(213, 213, 213, 0.2); }

.survey-viewer-range .survey-viewer-range-textbox-active .survey-viewer-question-input {
  font-size: 16px;
  color: #333333; }

.survey-viewer-range .survey-viewer-textbox-input input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px; }

.survey-viewer-range .survey-viewer-range-textbox-active {
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(61, 70, 84, 0.3);
  padding: 15px 0 20px 0;
  background-color: white;
  margin: 15px 30px 15px 30px; }

.survey-viewer-range .survey-viewer-range-textbox-active p {
  display: inline-block; }

.survey-viewer-range .asterisk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.8); }

.survey-viewer-range .survey-viewer-range-textbox-default {
  padding: 14px 17px 15px 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dashed rgba(139, 145, 153, 0.6);
  margin: 30px; }

.survey-viewer-range .survey-viewer-range-input {
  padding-left: 20px; }

.survey-viewer-range .survey-viewer-dash {
  color: #D5D5D5; }

.survey-viewer-range .from, .survey-viewer-range .survey-viewer-to {
  font-size: 14px; }

.survey-viewer-range .textbox-question {
  font-size: 16px;
  margin-bottom: 15px; }

.survey-viewer-range .survey-viewer-question-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #4db0ac;
  width: 70%;
  margin-bottom: 10px;
  padding-left: 0; }

.survey-viewer-range .button-option-trash {
  margin-right: 10px;
  margin-top: 0; }

.survey-viewer-range .survey-viewer-range-textbox-default .survey-viewer-textbox-input {
  width: 70px; }

.survey-viewer-range .survey-viewer-range-label {
  display: inline-block;
  width: auto;
  position: absolute;
  top: 16px; }

.survey-viewer-range .survey-viewer-range-label.to {
  left: 17px; }

.survey-viewer-answer.inline .survey-viewer-range-label {
  padding-top: 0; }

.survey-viewer-range .survey-viewer-range-content {
  display: table;
  margin-left: 45px;
  width: 190px; }

.range .answer input {
  width: 100%; }

.survey-viewer-range-content .input-group.date .input-group-btn button {
  height: 30px;
  margin-left: -2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.survey-viewer-range-content .input-group.date .form-control {
  height: 30px;
  width: 150px;
  margin-left: 0; }

.range-errors {
  margin-left: 20px; }

.block ~ .range-errors {
  margin-top: 50px; }

.survey-viewer-dropdown-menu-custom {
  top: 97%;
  min-width: 188px;
  border: 1px solid #CCC;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 15px;
  margin-top: 1.9px;
  padding: 0; }

.survey-viewer-dropdown-menu-custom li {
  padding: 5px 5px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }

.survey-viewer-dropdown-menu-custom li:hover {
  background: #ccc;
  border-radius: 4px;
  color: #FFF; }

.survey-viewer-dropdown-menu-custom .active {
  background: #338ac6;
  border-radius: 4px;
  color: #FFF; }

.survey-viewer-answers-bar .btn-dropdown {
  margin-left: 15px;
  color: #000;
  border-radius: 4px;
  border-color: #CCC;
  padding: 6px 8px 6px 8px;
  -webkit-transition: background 0.5s;
          transition: background 0.5s;
  overflow: hidden; }
  .survey-viewer-answers-bar .btn-dropdown > :first-child {
    width: 155px;
    overflow: hidden; }

.survey-viewer-answers-bar .btn-dropdown:hover {
  background: #CCC; }

.survey-viewer-answers-bar .btn-dropdown:hover .placeholder {
  color: #FFF;
  -webkit-transition: color 0.5s;
          transition: color 0.5s; }

.survey-viewer-answers-bar .btn-dropdown:focus {
  margin-left: 15px;
  color: black; }

.survey-viewer-answers-bar .btn-dropdown:hover {
  margin-left: 15px;
  color: black; }

.survey-viewer-answers-bar .btn-dropdown .ng-binding {
  color: black; }

.survey-viewer-answers-bar .btn-dropdown .placeholder {
  color: #d5d5d5; }

.survey-viewer-answers-bar .k-dropdown {
  border-radius: 0;
  margin-left: 7px;
  padding: 0;
  min-width: 188px; }

.textarea {
  padding: 8px 8px;
  max-width: 100%;
  width: 300px;
  border-radius: 2px; }

h4 {
  margin-top: 10px; }

sup.required-error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.8);
  vertical-align: text-bottom; }

.survey-viewer-question-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #4db0ac;
  display: inline-block;
  margin: 0 0 10px 5px;
  padding-left: 0; }

.survey-viewer-textbox-input:hover img {
  display: inline-block; }

.survey-viewer-label-container {
  margin-left: 20px; }

#question-input {
  font-size: 16px;
  margin-bottom: 5px; }

.survey-viewer-textbox-input {
  padding-left: 15px; }

.survey-viewer-left .singletext.survey-viewer-answer.inline,
.survey-viewer-right .singletext.survey-viewer-answer.inline {
  min-width: 40%;
  max-width: 50%;
  position: relative; }

.singletext.survey-viewer-answer {
  padding-left: 15px; }
  .singletext.survey-viewer-answer.inline {
    min-width: 50%;
    max-width: 90%;
    position: relative; }

.survey-viewer-left .survey-viewer-answer.inline input[pu-elastic-input-minwidth],
.survey-viewer-right .survey-viewer-answer.inline input[pu-elastic-input-minwidth] {
  min-width: 80% !important;
  max-width: 100%; }

.singletext .fixed {
  width: 300px; }

.survey-viewer-answer-text {
  margin: 10px 0 0 0; }

.survey-viewer-answer-text .input-group .input-group-btn button {
  float: left;
  margin-left: -2px;
  height: 30px; }

.survey-viewer-answer-text .input-group .form-control {
  height: 30px;
  width: 130px;
  margin-left: 15px; }

.singletext .input-group .survey-viewer-answer-input-date {
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 0; }

.singletext .input-group .input-group-btn {
  width: 20.5%; }

.singletext .input-group .btn-default {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  text-align: center; }

.survey-viewer-matrix *:not(.matrix-buttons-container *) {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.survey-viewer-matrix .question-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.survey-viewer-matrix .option-input {
  outline: none;
  font-size: 14px;
  border: none;
  color: black;
  min-width: 140px;
  max-width: 1200px;
  margin: 0 10px 0 2px;
  padding: 15px 0 10px 0; }

.survey-viewer-matrix .multi-choice-input {
  font-size: 14px;
  color: black;
  margin-left: 15px;
  margin-bottom: 25px;
  border: 1px solid #a8a9ae;
  border-radius: 0;
  padding: 5px;
  outline: none; }

.survey-viewer-matrix .question-watch-container {
  padding: 14px 17px 20px 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dashed rgba(139, 145, 153, 0.6);
  margin: 30px; }

.survey-viewer-matrix .multi-watch-title {
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px; }

.survey-viewer-matrix .watch-input {
  border-radius: 0;
  height: 30px;
  display: block; }

.survey-viewer-matrix .other-watch-input {
  border-radius: 0;
  margin-top: 10px;
  height: 30px;
  display: block;
  padding: 5px; }

.survey-viewer-matrix .matrix-table-active {
  margin-top: 10px;
  font-family: Arial Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px; }

.survey-viewer-matrix .table tr, th {
  border: none !important; }

.survey-viewer-matrix .table tr, th, td {
  padding: 0;
  margin: 0; }

.survey-viewer-matrix .table td, .survey-viewer-matrix-table-default, .survey-viewer-matrix .first-row td {
  text-align: center;
  vertical-align: middle; }

.matrix-table-default tr {
  border-bottom: 1px solid #ddd; }

.matrix-table-default td {
  padding: 5px 0; }

.matrix .matrix-table-active .type-question {
  padding: 0; }

.survey-viewer-matrix .matrix-table-active td {
  padding: 10px 0 0 0; }

.survey-viewer-matrix .survey-viewer-first-row, .survey-viewer-matrix .survey-viewer-first-column {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  text-align: left; }

.survey-viewer-matrix .matrix-textarea {
  height: 25px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  border: none;
  resize: none;
  outline: 0; }

.survey-viewer-matrix .survey-viewer-first-column .matrix-textarea {
  width: 200px;
  text-align: left;
  float: left;
  padding: 0;
  outline: 0; }

.survey-viewer-matrix .survey-viewer-matrix-table-default span {
  display: block;
  word-wrap: break-word;
  margin: 0 10px; }

.survey-viewer-matrix .survey-viewer-matrix-table-default .survey-viewer-first-row span {
  width: 100px;
  text-align: center; }

.survey-viewer-matrix .survey-viewer-matrix-table-default .survey-viewer-first-column span {
  width: 190px; }

.survey-viewer-matrix .survey-viewer-first-row .survey-viewer-first-column {
  color: rgba(126, 127, 127, 0.8);
  text-align: left; }

.survey-viewer-matrix-table {
  width: 92%;
  overflow-x: auto;
  min-height: 0.01%;
  display: inline-block;
  padding-right: 7%; }

.star > input {
  visibility: hidden;
  position: absolute; }

.star > input + img {
  cursor: pointer;
  height: 28px;
  width: 28px; }

.star > input + .star-chosen {
  height: 28px;
  width: 28px; }

.star {
  margin-top: 0;
  margin-bottom: 10px; }

.survey-viewer-matrix-table {
  padding: 0 10px 0 10px;
  margin-bottom: 10px; }

.row .survey-viewer-question-bar label {
  margin-top: 0 !important;
  padding-top: 0; }

.survey-viewer-table {
  display: block; }
  .survey-viewer-table.with-horizontal-seperators .question-wrap .survey-viewer-question-bar {
    border-bottom: 1px solid #efefef; }
  .survey-viewer-table.with-vertical-seperators .survey-viewer-right {
    border-left: 1px solid #efefef; }
  .survey-viewer-table .question-wrap:last-child .survey-viewer-question-bar {
    border-bottom: none; }

.survey-viewer-question-table-title {
  padding: 0 5px 10px 15px;
  text-align: left; }

.survey-viewer-left, .survey-viewer-right {
  display: block;
  width: 100%; }

.survey-viewer-right,
.survey-viewer-left {
  position: relative; }

@media only screen and (min-width: 481px) {
  .survey-viewer-left, .survey-viewer-right {
    display: inline-block;
    width: 50%; }
  .survey-viewer-left {
    float: left; }
  .survey-viewer-right {
    float: right; } }

.survey-viewer-comments {
  padding: 0;
  word-wrap: break-word; }
  .survey-viewer-comments blockquote {
    margin: 0 0 0 40px;
    border: none;
    padding: 0;
    font-size: 100%; }
  .survey-viewer-comments ul {
    list-style-type: disc;
    margin-left: 20px; }
  .survey-viewer-comments ol {
    list-style-type: decimal;
    margin-left: 20px; }

.survey-viewer-comments p {
  white-space: normal !important;
  word-wrap: break-word !important; }

.survey-viewer-comments p span {
  white-space: normal !important;
  word-wrap: break-word !important; }

.survey-viewer-signature {
  padding: 0;
  height: 300px;
  border: 1px dashed rgba(139, 145, 153, 0.3);
  margin: 10px 0px 0px 0px; }
  .survey-viewer-signature .survey-viewer-question-signature-title {
    padding: 0 5px 10px 20px;
    text-align: left; }
    .survey-viewer-signature .survey-viewer-question-signature-title .survey-viewer-question-viewer-title {
      padding: 0px 10px; }
    .survey-viewer-signature .survey-viewer-question-signature-title .validation-error-required {
      position: absolute;
      left: 5px; }
  .survey-viewer-signature .survey-viewer-question-signature-reset {
    text-align: right;
    margin-top: -20px;
    margin-right: 0px;
    position: relative; }
    .survey-viewer-signature .survey-viewer-question-signature-reset button {
      background-color: #fff;
      border: 1px solid #9C9C9C;
      color: #737373;
      border-radius: 2px;
      padding: 10px 16px;
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 16px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .survey-viewer-signature .survey-viewer-question-signature-reset-no-title {
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    right: 0; }
    .survey-viewer-signature .survey-viewer-question-signature-reset-no-title button {
      background-color: #fff;
      border: 1px solid #9C9C9C;
      color: #737373;
      border-radius: 2px;
      padding: 10px 16px;
      font-size: 16px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .survey-viewer-signature canvas {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACYSURBVDhPY6itbywA4fr6ej8gVmIgFQA119TWNW4G4/rGFSQbUlvb6I+uGUQTbRBIYV1dQzuyZpBhZLkGrpkcL2FoJtUQnAYMP0NAMQZVhh9gNaS+cVJxcTc3VAlhgGIIkmZg4nMG8tuI9k5NfVMUimaoi4DemQtWRCxA1gw1gLjwAAGQC1DChNTwAAGQd0DOBtkM0czAAAAAI9RJo2X85gAAAABJRU5ErkJggg=="), auto; }

.survey-viewer-signature ~ p {
  white-space: normal !important;
  word-wrap: break-word !important; }

.survey-viewer-signature p span {
  white-space: normal !important;
  word-wrap: break-word !important; }

.survey-viewer-question-bar .survey-viewer-answers-bar-button .survey-viewer-answer-option-button {
  width: 250px;
  display: inline-block;
  margin: 5px 0px; }
  .survey-viewer-question-bar .survey-viewer-answers-bar-button .survey-viewer-answer-option-button button {
    min-width: 80px;
    max-width: 250px;
    height: 25px; }

.survey-viewer-print-wrap.active .survey-viewer-answer input {
  position: relative; }
  .survey-viewer-print-wrap.active .survey-viewer-answer input[type="text"], .survey-viewer-print-wrap.active .survey-viewer-answer input[type="textarea"], .survey-viewer-print-wrap.active .survey-viewer-answer input[type="number"] {
    padding: 10px 20px;
    height: auto; }
