<div class="jumbotron">
   <div class="panel panel-default">
      <div class="panel-heading-colored">
         <div class="panel-heading">
            <h2>
               <span class="pull-left glyphicon glyphicon-calendar"></span>
               <div class="panel-heading-value">{{data.name}}
            </h2>
            </div>
         </div>
      </div>
      <div class="panel-body">
         <form role="form" ng-submit="addTodoToList()">
            <p class="input-group">
               <span class="input-group-addon glyphicon glyphicon-plus greenPlus" ng-click="addTodoToList()"></span>
               <input type="text" ng-model="todo" placeholder="Start typing here to create a task..." class="form-control">
               <span class="input-group-btn">
               <input type="submit" class="btn btn-success" value="Add Task">
               </span>
            </p>
         </form>
         <todo data="todo" todo-list-name="data.name" ng-repeat="todo in data.todos track by $index"></todo>
      </div>
   </div>
</div>