.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase;
}

.disabled{
  text-decoration: line-through;
}

.text-primary{
  margin-top: 10px;
  color: rgb(91, 151, 251);
}