<div class="jumbotron" ng-model="todoListName">
   <!-- Todos input -->
   
   <!-- Todos list -->
   <div>
      <div ui-sortable ng-model="todos">
         <p class="input-group" ng-repeat="todo in todos track by $index"  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-style="hoverStyle" style="cursor: move;">
            <span class="input-group-addon"><input type="checkbox" ng-model="todo.done"></span>
            <input type="text" ng-model="todo.value" class="form-control" ng-readonly="notEditable">
            <span class="input-group-addon glyphicon glyphicon-pencil" ng-hide="hideButtons" ng-click="editTodo($index)">
            </span>
            <span class="input-group-addon glyphicon glyphicon-remove" ng-hide="hideButtons" ng-click="removeTodo($index)">
            </span>
         </p>
      </div>
   </div>
</div>
</div>