<div>
    <div class="survey-builder-menu-wrapper">
        <nav class="navbar survey-builder-navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header navbar-brand">
                    <a ng-href="#/" ng-click="resetFilters()">

                        <h3 class="survey-builder-menu-icon">SURVEY FORM BUILDER</h3>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <ul class="nav navbar-nav">
                        <li class="active"><a ng-href="#/" ng-click="resetFilters()">List</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <survey-grid></survey-grid>
</div>